.homeview {
  background-color: #f8f9fa;
  .homeview-header {
    height: 100vh;
    background-color: black;
    background: url('../../assets/img/homeview-hdr-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    .container {
      position: relative;
      height: 100%;
      position: relative;
      margin: auto;
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .hero-content {
          text-align: center;
        }
        .header-nav-guide {
          margin: 70px 0 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .nav-btn {
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: transparent;
            border: 2px solid white;
            box-shadow: none;
            .text {
              font-weight: bold;
              font-size: 15px;
            }
            .rt-arrow {
              width: 20px;
              margin: 0 0 0 10px;
            }
          }
          :first-child {
            margin-right: 10px;
          }
          :last-child {
            margin-left: 10px;
          }
        }
      }
      .scroll-container {
        width: 50px;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        .scroll {
          max-width: 100%;
        }
      }
    }
  }
  .story {
    .container {
      margin: auto;
      .shops,
      .manufacturing {
        display: flex;
        flex-wrap: wrap;
        .shops-img-container,
        .manu-img-container {
          width: 50%;
          height: 550px;
          .shop {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .manu-img-container {
          height: 480px;
        }
        .details {
          width: 50%;
          padding: 60px 120px 0 120px;
          .content {
            max-width: 600px;
            .highlight {
              color: #e67e22;
              font-size: 0.9rem;
              margin-bottom: 5px;
            }
            .title {
              font-size: 2rem;
              margin-bottom: 12px;
            }
            .org-line {
              width: 20px;
              border: 2px solid #e67e22;
              margin-bottom: 15px;
            }
            .text {
              font-weight: lighter;
              line-height: 30px;
              font-size: 1.1rem;
            }
            .discover {
              margin-top: 30px;
              font-weight: bold;
              background-color: transparent;
              border: none;
              font-size: 0.8rem;
              display: flex;
              align-items: center;
              .right {
                width: 25px;
                margin-left: 7px;
              }
            }
          }
        }
      }
      .manufacturing {
        flex-direction: row-reverse;
      }
    }
  }
  .brew {
    position: relative;
    min-height: 450px;
    height: auto;
    background: url('../../assets/img/latte.jpg');
    background-size: cover;
    background-position: top left;
    padding: 100px 200px 0 0;

    .layer {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .content {
      position: absolute;
      left: 58%;
      max-width: 550px;
      z-index: 1;
      .short-title {
        color: #e67e22;
        font-size: 0.9rem;
        margin-bottom: 5px;
      }
      .title {
        font-size: 2rem;
        margin-bottom: 12px;
        color: #fff;
      }
      .org-line {
        width: 20px;
        border: 2px solid #e67e22;
        margin-bottom: 15px;
      }
      .text {
        line-height: 25px;
        color: rgb(165, 165, 165);
        margin-bottom: 30px;
      }
      .img-and-buy {
        display: flex;
        align-items: center;
        border: 1px solid silver;
        border-left: none;
        border-right: none;
        .img-cont {
          width: 50%;
          text-align: center;
          padding: 20px 0;
          border-right: 1px solid silver;
          .img-acc {
            width: 70%;
          }
        }
        .buy {
          padding: 15px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          background-color: transparent;
          color: #fff;
          border: none;
          font-weight: bold;
          .right {
            margin-left: 10px;
            width: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .homeview {
    .story {
      .container {
        .shops,
        .manufacturing {
          .details {
            padding: 60px 60px 0 60px;
            .content {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .homeview {
    .brew {
      .content {
        transform: translate(-10%);
      }
    }
  }
}

@media (max-width: 1200px) {
  .homeview {
    .story {
      .container {
        .shops,
        .manufacturing {
          .details {
            padding: 50px 30px 0 50px;
            .content {
              .text {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .homeview {
    .story {
      .container {
        .shops,
        .manufacturing {
          .details {
            padding: 30px 10px 0 20px;
          }
        }
      }
    }
    .brew {
      .content {
        left: 50%;
        width: 100%;
        transform: translate(-50%);
      }
    }
  }
}

@media (max-width: 900px) {
  .homeview {
    .homeview-header {
      .container {
        .content {
          top: 53%;
          width: 90%;
          .hero-content {
            .hero-design {
              width: 100%;
            }
          }
          .header-nav-guide {
            flex-direction: column;
            width: 100%;
            margin: 40px auto 0 auto;
            width: 90%;
            .nav-btn {
              border-width: 1px;
              margin-bottom: 100px;
              margin: 0 0 15px 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .homeview {
    .story {
      .container {
        .shops,
        .manufacturing {
          .shops-img-container,
          .manu-img-container {
            width: 100%;
            height: 350px;
          }
          .details {
            width: 100%;
            padding: 30px 20px;
            .content {
              max-width: 100%;
              padding-bottom: 20px;
              .highlight {
                text-align: center;
              }
              .title {
                text-align: center;
              }
              .org-line {
                margin: auto;
                margin-bottom: 20px;
              }
              .discover {
                margin: 30px auto 0 auto;
              }
            }
          }
        }
      }
    }
    .brew {
      min-height: 500px;
      padding: 0px 0 0px 0;
      .content {
        padding: 50px 20px 20px 20px;
        .short-title {
          text-align: center;
          margin-bottom: 5px;
        }
        .title {
          text-align: center;
        }
        .org-line {
          margin: auto;
          margin-bottom: 20px;
        }
        .text {
          font-size: 1.1rem;
          line-height: 30px;
          text-align: justify;
        }
        .img-and-buy {
          flex-direction: column;
          border: none;
          .img-cont {
            width: 100%;
            border: none;

            .img-acc {
              width: 90%;
            }
          }
        }
        .buy {
          width: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .homeview {
    .homeview-header {
      .container {
        .content {
          .header-nav-guide {
            .nav-btn {
              .text {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    .brew {
      min-height: 470px;
      .content {
        .short-title {
          font-size: 0.9rem;
        }
        .title {
          font-size: 1.8rem;
        }
        .text {
          font-weight: normal;
          font-size: 0.9rem;
          line-height: 25px;
        }
      }
    }
  }
}
