.topbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  font-family: 'Bebas Neue', cursive;
  transition: 0.5s;
  .container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    border-bottom: 1px solid rgb(172, 169, 169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      width: 20%;
      padding: 15px 0;
      .logo {
        max-width: 90px;
      }
    }
    .nav-items {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item-container {
        cursor: pointer;
        position: relative;
        min-width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        .item {
          border-right: 1px solid whitesmoke;
          text-align: center;
          color: #fff;
          width: 100%;
          font-size: 20px !important;
          padding: 0 10px;
          .down {
            width: 15px;
            margin-left: 7px;
          }
          .cart,
          .user {
            width: 17px;
            margin-right: 10px;
          }
        }
        .item-dropdown {
          display: none;
          position: absolute;
          top: 100%;
          min-width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          .item-drop-ele {
            letter-spacing: 1px;
            opacity: 1;
            padding: 15px;
            font-size: 17px;
            font-weight: bold;
            color: #fff;
            &:hover {
              background-color: #f78f1e;
            }
          }
        }
        &:hover {
          .item-dropdown {
            display: block;
          }
        }
      }

      .item-md {
        min-width: 14%;
      }
      .item-lg {
        min-width: 17%;
      }
    }
    .small {
      display: none;
    }
  }
  .res-menu {
    display: none;
  }
}

.topbarInv {
  background-color: #fff;
  .container {
    border-bottom: 1px solid #cbcbcb;
    .nav-items {
      .item-container {
        .item {
          border-right: 1px solid #444;
          text-align: center;
          color: #444;
          width: 100%;
          font-size: 20px !important;
          padding: 0 10px;
        }
        .item-dropdown {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
    .small {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .topbar {
    .container {
      width: 90%;
      .large {
        display: none;
      }
      .nav-items {
        border-right: none;
      }
      .small {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .item-container {
          width: 45px;
          display: flex;
          align-items: center;
          .item {
            font-size: 0;
            border-right: none;
            line-height: 0;
            .icon {
              width: 50%;
              height: 100%;
            }
          }
          &:nth-child(1) {
            border-left: none;
          }
        }
      }
    }
    .res-menu {
      display: block;
      position: absolute;
      z-index: 5;
      top: 100px;
      min-height: calc(100vh - 100px);
      background-color: #000;
      width: 100%;
      color: #fff;
      .res-menu-container {
        padding: 30px 0 0 0;
        width: 90%;
        margin: auto;
        .ele {
          border-bottom: 1.5px solid white;
          .main-link {
            width: 100%;
            font-size: 1.5rem;
            display: block;
            padding: 20px 0;
          }

          .sub {
            padding: 0 0 20px 10px;
            .sub-name,
            .sub-link {
              display: block;
            }

            .sub-name {
              font-size: 1.5rem;
              padding: 0px 0 15px 0;
              color: #f78f1e;
            }
            .sub-link {
              font-size: 1.4rem;
              padding: 0px 0;
              margin: 0 0 10px 0;
              font-weight: lighter;
              text-transform: lowercase;
            }
          }
        }
        .close {
          cursor: pointer;
          padding: 50px 0 30px 0;
          text-align: center;
          .icon {
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .topbar {
    .container {
      .small {
        .item-container {
          .item {
            .icon {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .topbar {
    height: 70px;
    .container {
      .logo-container {
        .logo {
          max-width: 100%;
        }
      }
    }
    .res-menu {
      top: 70px;
    }
  }
}
