.contact-view {
  .main-content {
    display: grid;
    grid-template-columns: 50% 50%;
    .left-cont {
      color: #fff;
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../../assets//img/coffee-process.jpg');
      .container {
        width: 60%;
        margin: 80px 25% 80px 15%;
        .txt-sm {
          color: #f78f1e;
          font-size: 0.9rem;
          margin: 0 0 5px 0;
          text-transform: uppercase;
        }
        .txt-bg {
          font-size: 2rem;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        .org-line {
          margin: 0 0 20px 0;
          width: 20px;
          border: 2px solid #e67e22;
        }
        .para {
          line-height: 25px;
          font-weight: lighter;
          font-size: 1rem;
          line-height: 30px;
          ul {
            padding: 0 0 0 20px;
            li {
              list-style: disc;
            }
          }
        }
        .bold {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    .right-cont {
      background: #f8f9fa;
      .container {
        margin: 80px 25% 80px 15%;
        .txt-sm {
          color: #f78f1e;
          font-size: 0.9rem;
          margin: 0 0 5px 0;
          text-transform: uppercase;
        }
        .txt-bg {
          font-size: 2rem;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        .org-line {
          margin: 0 0 20px 0;
          width: 20px;
          border: 2px solid #e67e22;
        }
        .form {
          .form-cont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 20px 0;
            .form-field {
              width: 100%;
              label {
                display: block;
                margin: 0 0 8px 0;
                color: rgb(71, 71, 71);
                font-size: 0.9rem;
              }
              input,
              textarea {
                border: 1px solid rgb(199, 199, 199);
                width: 100%;
                padding: 10px;
              }
            }
            .short-field {
              width: 47%;
            }
            .submit {
              width: 100%;
              margin: 20px 0 0 0;
              padding: 15px;
              text-align: center;
              box-shadow: none;
              color: #fff;
              background: #f78f1e;
              font-size: 1rem;
              border: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact-view {
    .main-content {
      .left-cont,
      .right-cont {
        .container {
          width: auto;
          margin: 30px 10%;
          .para {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact-view {
    .main-content {
      grid-template-columns: 100%;
      .left-cont {
        .container {
          margin: 40px 5%;
          text-align: center;
          .org-line {
            margin: 0 auto 20px auto;
          }
          .para {
            text-align: left;
          }
        }
      }
      .right-cont {
        order: -1;
        .container {
          text-align: center;
          .org-line {
            margin: 0 auto 20px auto;
          }
          .form {
            .form-cont {
              .form-field {
                label {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .contact-view {
    .main-content {
      .right-cont {
        .container {
          .form {
            .form-cont {
              display: block;
              .form-field {
                label {
                  font-size: 0.8rem;
                }
              }
              .short-field {
                width: 100%;
                margin: 0 0 20px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .contact-view {
    .main-content {
      .left-cont {
        .container {
          .txt-bg {
            font-size: 1.8rem;
          }
          .para {
            font-size: 0.9rem;
            line-height: 25px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
