.products-list {
  .container {
    max-width: 1200px;
    margin: 0 auto 100px auto;
    .products {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      .product {
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 30px 0;
        .prd-img-cont {
          width: 100%;
          margin: 0 0 20px 0;
          text-align: center;
          .prd-img {
            width: 90%;
          }
        }
        .prd-name {
          letter-spacing: 1px;
          text-align: center;
          font-size: 1rem;
          margin: 0 0 10px 0;
          line-height: 25px;
        }
        .prd-price {
          color: #f78f1e;
          margin: 0 0 10px 0;
        }
        .prd-cat {
          font-weight: lighter;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .products-list {
    .container {
      .products {
        grid-template-columns: repeat(3, 33.3%);
      }
    }
  }
}

@media (max-width: 700px) {
  .products-list {
    .container {
      .products {
        grid-template-columns: repeat(2, 50%);
      }
    }
  }
}

@media (max-width: 500px) {
  .products-list {
    .container {
      .products {
        grid-template-columns: repeat(1, 100%);
        .product {
          .prd-img-cont {
            .prd-img {
              width: 85%;
            }
          }
        }
      }
    }
  }
}
