.sublocationview {
  .slv-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('http://www.borealcoffee.ch/images/thumbnails/1600/936/page/1/13_0911-1695_NatashaCarrion_18.00.44.jpg ');
    background-size: cover;
    min-height: 600px;
    background-position: center;
    background-color: black;
    .content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .sub-title,
      .title {
        text-align: center;
        text-transform: uppercase;
      }
      .sub-title {
        color: #e67e22;
        margin: 0 0 7px 0;
        font-size: 1.2rem;
      }
      .title {
        color: #fff;
        font-size: 2.8rem;
        margin: 0 0 10px 0;
      }
      .plane {
        text-align: center;
        color: #fff;
        font-size: 1.1rem;
      }
    }
  }
  .main {
    display: grid;
    grid-template-columns: 50% 50%;
    .img-cont {
      height: 450px;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .details {
      background-color: #f8f9fa;
      height: 450px;
      .cont {
        width: 60%;
        margin: 80px 25% 0px 15%;
        .txt-sm {
          color: #f78f1e;
          font-size: 0.9rem;
          margin: 0 0 5px 0;
          text-transform: uppercase;
        }
        .txt-bg {
          font-size: 2rem;
          margin: 0 0 10px 0;
        }
        .org-line {
          margin: 0 0 20px 0;
          width: 20px;
          border: 2px solid #e67e22;
        }
        .para {
          color: rgb(54, 54, 54);
          line-height: 25px;
          font-weight: lighter;
          font-size: 1rem;
        }
        .down {
          margin: 40px 0 0 0;
          text-transform: uppercase;
          .upper {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0;
          }
          .plane {
            color: #e67e22;
          }
        }
      }
    }
  }
  .brand-highlight {
    .container {
      max-width: 800px;
      margin: auto;
      .cont {
        padding: 50px 0;
        text-align: center;
        text-transform: uppercase;
        .logo-cont {
          width: 50px;
          margin: 0 auto 15px auto;
          .logo {
            width: 100%;
          }
        }
        .txt-sm {
          color: #f78f1e;
          font-size: 0.9rem;
          margin: 0 0 5px 0;
          text-transform: uppercase;
        }
        .txt-bg {
          font-size: 2rem;
          margin: 0 0 10px 0;
          font-weight: bold;
        }
      }
    }
  }

  .location-highlight {
    .container {
      .images {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        .img-cont {
          position: relative;
          height: 600px;
          cursor: pointer;
          transition: all .4s ease;
          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .shadow-layer {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e67e22;
            opacity: 0.7;
            transition: all .4s ease;
          }
          &:hover {
            .shadow-layer {
              display: block;
            }
          }
        }
      }
    }
  }
}
