.mainlocationview {
  .mlv-header {
    min-height: 600px;
    background: url('../../assets//img/Mainlocation-header-bg.jpg');
    .container {
      padding: 140px 0 0 0;
      max-width: 750px;
      margin: auto;
      position: relative;
      .map-cont {
        width: 100%;
        .map {
          width: 100%;
          height: 518px;
        }
      }
      .sub-txt {
        text-align: center;
        color: #f78f1e;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin: 10px 0 0 0;
      }
      .loc-opts {
        padding: 15px 0 30px 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        margin: auto;
        .txt-bg {
          cursor: pointer;
          font-size: 2.6rem;
          padding: 0 0 5px 0;
        }
        .active {
          border-bottom: 5px solid #f78f1e;
        }
      }
      .hdr-bottom {
        padding: 0 0 15px 0;
        .img-cont {
          max-width: 180px;
          margin: auto;
          .img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .mainlocationview {
    .mlv-header {
      min-height: 500px;
      .container {
        padding: 100px 0 0 0;
        .map-cont {
          width: 90%;
          margin: auto;
        }
        .sub-txt {
          font-size: 0.9rem;
        }
        .loc-opts {
          width: 300px;
          .txt-bg {
            font-size: 2rem;
          }
          .active {
            border-bottom: 4px solid #f78f1e;
          }
        }
        .hdr-bottom {
          padding: 0 0 15px 0;
          .img-cont {
            max-width: 180px;
            margin: auto;
            .img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
