.shopview {
  padding-top: 120px;
  .route-info {
    .container {
      max-width: 1200px;
      margin: auto;
      .route-list {
        .route,
        .arrow-right {
          margin-right: 10px;
          font-size: 0.8rem;
          font-weight: bold;
          color: #8d8e8d;
          text-transform: uppercase;
        }
        .arrow-right {
          font-size: 1rem;
        }
        .active {
          color: #f78f1e;
        }
      }
    }
  }
  .msg-and-sort {
    text-transform: uppercase;
    .container {
      max-width: 1200px;
      margin: 80px auto 100px auto;
      .msg {
        text-align: center;
        margin: 0 0 30px 0;
        .hl {
          color: #f78f1e;
          font-size: 1rem;
          margin: 0 0 10px 0;
        }
        .main {
          font-size: 2.2rem;
        }
      }
      .sort {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        .sort-by-list {
          margin: 0 0 0 20px;
          display: flex;
          align-items: center;
          .item {
            padding: 0 20px;
            border-right: 1px solid #8d8e8d;
            font-weight: bold;
            color: #8d8e8d;
            cursor: pointer;
            &:last-child {
              border: none;
            }
          }
          .active {
            color: #f78f1e;
          }
        }
      }
    }
  }
  .products-list {
    .container {
      max-width: 1200px;
      margin: 0 auto 100px auto;
      .products {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        .product {
          text-transform: uppercase;
          text-align: center;
          margin: 0 0 30px 0;
          .prd-img-cont {
            width: 100%;
            margin: 0 0 20px 0;
            text-align: center;
            .prd-img {
              width: 90%;
            }
          }
          .prd-name {
            letter-spacing: 1px;
            text-align: center;
            font-size: 1rem;
            margin: 0 0 10px 0;
            line-height: 25px;
          }
          .prd-price {
            color: #f78f1e;
            margin: 0 0 10px 0;
          }
          .prd-cat {
            font-weight: lighter;
          }
        }
      }
    }
  }
  .sub-and-discover {
    display: grid;
    grid-template-columns: 50% 50%;
    text-transform: uppercase;
    .sub {
      color: #fff;
      padding: 50px 20px;
      background: #f78f1e;
      .msg {
        margin: 10px 0 20px 0;
        font-size: 1.7rem;
        line-height: 40px;
      }
      .form {
        display: flex;
        .email-input {
          width: 70%;
          background: transparent;
          border: 1px solid #fff;
          padding: 20px;
          font-size: 1.2rem;
          color: #fff;
        }
        .submit {
          border: none;
          background: #fff;
          width: 30%;
          color: #f78f1e;
          display: flex;
          align-items: center;
          justify-content: center;
          .text {
            font-weight: bold;
            font-size: 0.9rem;
            margin: 0 10px 0 0;
          }
          .right-arrow {
            width: 20px;
          }
        }
        input::-webkit-input-placeholder {
          color: #fff;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder {
          color: #fff;
        }
      }
    }
    .discover {
      background: url('http://www.borealcoffee.ch/design/themes/boreal/assets/dist/images/content/blocks/block-listing-bottom.jpg');
      background-size: cover;
      text-align: center;
      color: #fff;
      .container {
        padding: 80px 0 0 0;
        .que {
          font-size: 1rem;
          margin: 0 0 10px 0;
        }
        .msg {
          font-size: 2rem;
          margin: 0 0 20px 0;
        }
        .discover {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          padding: 15px 30px;
          text-transform: uppercase;
          border: 1px solid #fff;
          .text {
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          .right-arrow {
              width: 30px;
          }
        }
      }
    }
  }
}
